 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #0be5ec;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .menu {
    list-style: none;
    margin-top: 10px;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #1273e0;
  }

  .hero {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    color: #666;
    margin-bottom: 40px;
  }
  


.hero {
    background-image: url("27.jpg");
    background-size:800px ;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(177, 97, 97, 0.5);
  }
  
  .hero p {
    color: #fff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
  }
  

  .features {
    padding: 80px 0;
    text-align: center;
  }
  
  .feature {
    display: inline-block;
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  
  .feature i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ff6600;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature p {
    color: #666;
  }
  
  
  footer {
    background-color: #1ebd8d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }  
  
  
  

